<nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Navigation</p>
          <span></span>
        </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/index.html">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/billings.html">
                <i class="mdi mdi-calculator menu-icon"></i>
                <span class="menu-title">Hoá đơn</span>
              </a>
            </li>
            <li class="nav-item nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#patients" aria-expanded="false" aria-controls="patients">
                <i class="mdi mdi-seat-individual-suite menu-icon"></i>
                <span class="menu-title">Bệnh nhân</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="patients">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/views/patients/all-patients.html">Danh sách bệnh nhân</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/patients/patient-profile.html">Hồ sơ bệnh nhân</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/patients/add-patient.html">Thêm bệnh nhân</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/patients/edit-patient.html">Sửa thông tin bệnh nhân</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#doctors" aria-expanded="false" aria-controls="doctors">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Bác sĩ</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="doctors">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/views/doctors/all-doctors.html">Danh sách bác sĩ</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/doctors/doctor-profile.html">Hồ sơ bác sĩ</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/doctors/add-doctor.html">Thêm bác sĩ</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/doctors/edit-doctor.html">Sửa thông tin bác sĩ</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#appointments" aria-expanded="false" aria-controls="appointments">
                <i class="mdi mdi-calendar menu-icon"></i>
                <span class="menu-title">Lịch hẹn</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="appointments">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/views/appointments/appointments.html">Danh sách lịch hẹn</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/appointments/appointments-requests.html">Yêu cầu lịch hẹn</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/prescriptions.html">
                <i class="mdi mdi-pill menu-icon"></i>
                <span class="menu-title">Đơn thuốc</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/treatments.html">
                <i class="mdi mdi-history menu-icon"></i>
                <span class="menu-title">Lịch sử điều trị</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/branches.html">
                <i class="mdi mdi-hospital-building menu-icon"></i>
                <span class="menu-title">Chi nhánh</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/services.html">
                <i class="mdi mdi-hospital menu-icon"></i>
                <span class="menu-title">Dịch vụ</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="mdi mdi-cards menu-icon"></i>
                <span class="menu-title">Hình thức thanh toán</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="mdi mdi-cash menu-icon"></i>
                <span class="menu-title">Dư nợ</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#inventory" aria-expanded="false" aria-controls="inventory">
                <i class="mdi mdi-store menu-icon"></i>
                <span class="menu-title">Kho vật tư</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="inventory">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/views/inventory/medicines.html">Thuốc</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/inventory/equipments.html">Thiết bị y tế</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#role-permissions" aria-expanded="false" aria-controls="role-permissions">
                <i class="mdi mdi-lock menu-icon"></i>
                <span class="menu-title">Phân Quyền</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="role-permissions">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/views/role-permissions/">Tài khoản</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/role-permissions/">Quyền</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Cài đặt</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="settings">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/views/settings/public-info.html">Thông tin cá nhân</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/settings/notifications.html">Cài đặt thông báo</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/settings/change-password.html">Bảo mật</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item sidebar-category">
              <p>Pages</p>
              <span></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/landing-page/overview.html">Giới thiệu</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/index.html">Đăng nhập</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/auth/register.html"> Đăng ký </a></li>
                  <li class="nav-item"> <a class="nav-link" href="/views/auth/forgot-pw.html"> Quên mật khẩu </a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index.html">
                <button class="btn bg-danger btn-sm menu-title">Logout</button>
              </a>
            </li>
      </ul>
    </nav>