<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Spica Admin</title>
    <!-- base:css -->
    <link
      rel="stylesheet"
      href="/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css"
    />

    <style>
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
      }

      .form-container {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
      }

      .action-icons .d-flex {
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .action-icons i {
        margin: 0 5px;
        font-size: 1rem;
      }
      .icon-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
      }

      .icon-button:hover {
        color: #007bff; /* Optional: Change color on hover */
      }
      .form-container {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
      }

      .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }

      .form-group {
        flex: 1;
        margin-right: 10px;
      }

      .form-group:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>
    <div class="container-scroller d-flex">
      <!-- partial:./partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-view-quilt menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="views/billings.html">
              <i class="mdi mdi-calculator menu-icon"></i>
              <span class="menu-title">Hoá đơn</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="views/patients.html">
              <i class="mdi mdi-hotel menu-icon"></i>
              <span class="menu-title">Bệnh nhân</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              href="#human-resources"
              aria-expanded="false"
              aria-controls="human-resources"
            >
              <i class="mdi mdi-account-multiple menu-icon"></i>
              <span class="menu-title">Nhân sự</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="human-resources">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="views/human-resources/doctor.html"
                    >Bác sĩ</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/human-resources/staff.html"
                    >Nhân viên</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/appointments.html">
              <i class="mdi mdi-calendar menu-icon"></i>
              <span class="menu-title">Lịch hẹn</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/prescriptions.html">
              <i class="mdi mdi-pill menu-icon"></i>
              <span class="menu-title">Đơn thuốc</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/treatments.html">
              <i class="mdi mdi-history menu-icon"></i>
              <span class="menu-title">Lịch sử điều trị</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="views/branches.html">
              <i class="mdi mdi-hospital-building menu-icon"></i>
              <span class="menu-title">Chi nhánh</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/services.html">
              <i class="mdi mdi-hospital menu-icon"></i>
              <span class="menu-title">Dịch vụ</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="mdi mdi-cards menu-icon"></i>
              <span class="menu-title">Hình thức thanh toán</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="mdi mdi-cash menu-icon"></i>
              <span class="menu-title">Dư nợ</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              href="#inventory"
              aria-expanded="false"
              aria-controls="inventory"
            >
              <i class="mdi mdi-store menu-icon"></i>
              <span class="menu-title">Kho vật tư</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="inventory">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/views/inventory/medicines.html"
                    >Thuốc</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/views/inventory/equipments.html"
                    >Thiết bị y tế</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              href="#role-permissions"
              aria-expanded="false"
              aria-controls="role-permissions"
            >
              <i class="mdi mdi-lock menu-icon"></i>
              <span class="menu-title">Phân Quyền</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="role-permissions">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="views/role-permissions/"
                    >Tài khoản</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/role-permissions/">Quyền</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              href="#settings"
              aria-expanded="false"
              aria-controls="settings"
            >
              <i class="mdi mdi-settings menu-icon"></i>
              <span class="menu-title">Cài đặt</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="settings">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="views/settings/public-info.html"
                    >Thông tin cá nhân</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/settings/notifications.html"
                    >Cài đặt thông báo</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="views/settings/change-password.html"
                    >Bảo mật</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item sidebar-category">
            <p>Components</p>
            <span></span>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              href="#ui-basic"
              aria-expanded="false"
              aria-controls="ui-basic"
            >
              <i class="mdi mdi-palette menu-icon"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html"
                    >Buttons</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html"
                    >Typography</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title">Form elements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
              <i class="mdi mdi-chart-pie menu-icon"></i>
              <span class="menu-title">Charts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Tables</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title">Icons</span>
            </a>
          </li>
          <li class="nav-item sidebar-category">
            <p>Pages</p>
            <span></span>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="collapse"
              href="#auth"
              aria-expanded="false"
              aria-controls="auth"
            >
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/login.html">
                    Login
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/login-2.html">
                    Login 2
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/register.html">
                    Register
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/register-2.html">
                    Register 2
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/lock-screen.html">
                    Lockscreen
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
          <div
            class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
          >
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <div class="navbar-brand-wrapper">
              <a class="navbar-brand brand-logo" href="index.html"
                ><img src="/images/logo.svg" alt="logo"
              /></a>
              <a class="navbar-brand brand-logo-mini" href="index.html"
                ><img src="/images/logo-mini.svg" alt="logo"
              /></a>
            </div>
            <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">
              Welcome back, Brandon Haynes
            </h4>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item">
                <h4 class="mb-0 font-weight-bold d-none d-xl-block">
                  Mar 12, 2019 - Apr 10, 2019
                </h4>
              </li>
              <li class="nav-item dropdown me-1">
                <a
                  class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                  id="messageDropdown"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="mdi mdi-calendar mx-0"></i>
                  <span class="count bg-info">2</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="messageDropdown"
                >
                  <p class="mb-0 font-weight-normal float-left dropdown-header">
                    Messages
                  </p>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="/images/faces/face4.jpg"
                        alt="image"
                        class="profile-pic"
                      />
                    </div>
                    <div class="preview-item-content flex-grow">
                      <h6 class="preview-subject ellipsis font-weight-normal">
                        David Grey
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                        The meeting is cancelled
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="/images/faces/face2.jpg"
                        alt="image"
                        class="profile-pic"
                      />
                    </div>
                    <div class="preview-item-content flex-grow">
                      <h6 class="preview-subject ellipsis font-weight-normal">
                        Tim Cook
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                        New product launch
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="/images/faces/face3.jpg"
                        alt="image"
                        class="profile-pic"
                      />
                    </div>
                    <div class="preview-item-content flex-grow">
                      <h6 class="preview-subject ellipsis font-weight-normal">
                        Johnson
                      </h6>
                      <p class="font-weight-light small-text text-muted mb-0">
                        Upcoming board meeting
                      </p>
                    </div>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown me-2">
                <a
                  class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                  id="notificationDropdown"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="mdi mdi-email-open mx-0"></i>
                  <span class="count bg-danger">1</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="notificationDropdown"
                >
                  <p class="mb-0 font-weight-normal float-left dropdown-header">
                    Notifications
                  </p>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-success">
                        <i class="mdi mdi-information mx-0"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">
                        Application Error
                      </h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        Just now
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-warning">
                        <i class="mdi mdi-settings mx-0"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">
                        Settings
                      </h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        Private message
                      </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-info">
                        <i class="mdi mdi-account-box mx-0"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <h6 class="preview-subject font-weight-normal">
                        New user registration
                      </h6>
                      <p class="font-weight-light small-text mb-0 text-muted">
                        2 days ago
                      </p>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
          <div
            class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center"
          >
            <ul class="navbar-nav mr-lg-2">
              <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Here..."
                    aria-label="search"
                    aria-describedby="search"
                  />
                </div>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-profile dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-bs-toggle="dropdown"
                  id="profileDropdown"
                >
                  <img src="/images/faces/face5.jpg" alt="profile" />
                  <span class="nav-profile-name">Eleanor Richardson</span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown"
                  aria-labelledby="profileDropdown"
                >
                  <a class="dropdown-item">
                    <i class="mdi mdi-settings text-primary"></i>
                    Settings
                  </a>
                  <a class="dropdown-item">
                    <i class="mdi mdi-logout text-primary"></i>
                    Logout
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link icon-link">
                  <i class="mdi mdi-plus-circle-outline"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link icon-link">
                  <i class="mdi mdi-web"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link icon-link">
                  <i class="mdi mdi-clock-outline"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Đơn thuốc
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex flex-direction-row justify-content-between"
                    >
                      <div class="col-lg-8 grid-margin stretch-card">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control border rounded-pill"
                            placeholder="Search Here..."
                            aria-label="search"
                            aria-describedby="search"
                          />
                        </div>
                      </div>
                      <div
                        class="col-lg-2 grid-margin stretch-card justify-content-center"
                      >
                        <button
                          type="button"
                          class="btn btn-light btn-icon-text"
                        >
                          <i class="mdi mdi-printer btn-icon-prepend"></i>
                          In tất cả
                        </button>
                      </div>
                      <div
                        class="col-lg-2 grid-margin stretch-card justify-content-center"
                      >
                        <button
                          type="button"
                          class="btn btn-primary btn-icon-text"
                          title="Thêm đơn thuốc"
                          onclick="showForm('add', this)"
                        >
                          <i class="mdi mdi-plus btn-icon-prepend"></i>
                          Thêm đơn thuốc
                        </button>

                        <div class="overlay" id="overlay">
                          <div class="form-container">
                            <h4 class="card-title" id="form-title">
                              Default form
                            </h4>
                            <p class="card-description" id="form-description">
                              Basic form layout
                            </p>
                            <form class="forms-sample">
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputID">ID</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="inputID"
                                    placeholder="ID"
                                  />
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputDoctorID">ID bác sĩ</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="inputDoctorID"
                                    placeholder="ID bác sĩ"
                                  />
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputDoctorName">Tên bác sĩ</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="inputDoctorName"
                                      placeholder="Tên bác sĩ"
                                      value="Lê Hà"
                                    />
                                  </div>
                              </div>
                              <div class="form-row">
                               
                                <div class="form-group col-md-4">
                                  <label for="inputPrescriptionDate"
                                    >Ngày kê</label
                                  >
                                  <input
                                    type="date"
                                    class="form-control"
                                    id="inputPrescriptionDate"
                                  />
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPatientID"
                                      >ID bệnh nhân</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="inputPatientID"
                                      placeholder="ID bệnh nhân"
                                    />
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputPatientName"
                                      >Tên bệnh nhân</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="inputPatientName"
                                      placeholder="Tên bệnh nhân"
                                      value="Nguyệt Hà"
                                    />
                                  </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputMedicineID">ID thuốc</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="inputMedicineID"
                                    placeholder="ID thuốc"
                                    value="T001"
                                  />
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputMedicineName"
                                    >Tên thuốc</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="inputMedicineName"
                                    placeholder="Tên thuốc"
                                    value="Paracetamol"
                                  />
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputMedicineAmount"
                                    >Số lượng</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="inputMedicineAmount"
                                    placeholder="Số lượng"
                                    value="5 viên"
                                  />
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="inputDosage">Liều dùng</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputDosage"
                                  placeholder="Liều dùng"
                                  value="1 viên sau khi ăn"
                                />
                              </div>
                              <div class="form-group">
                                <label for="inputNotes">Ghi chú</label>
                                <textarea
                                  class="form-control"
                                  id="inputNotes"
                                  rows="3"
                                  placeholder="Ghi chú"
                                >
Chống chỉ định với người mẫn cảm với thành phần của thuốc</textarea
                                >
                              </div>
                              <button
                                type="submit"
                                class="btn btn-primary me-2"
                              >
                                Submit
                              </button>
                              <button
                                type="button"
                                class="btn btn-light"
                                id="cancelButton"
                                onclick="hideForm()"
                              >
                                Cancel
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="filter-container">
                      <h4 class="mb-0">FILTER</h4>
                      <div class="filter-item">
                        <p class="filter-label m-0">Date:</p>
                        <input
                          class="form-control rangedatepicker"
                          type="text"
                          name="dates"
                          value=""
                        />
                      </div>
                      <div class="filter-item">
                        <p class="filter-label m-0">Trạng thái:</p>
                        <select class="form-control" name="status">
                          <option value="all">Tất cả</option>
                          <option value="pending">Sắp tới</option>
                          <option value="completed">Hoàn thành</option>
                          <option value="cancelled">Đã huỷ</option>
                        </select>
                      </div>
                      <div class="filter-item">
                        <p class="filter-label">Sắp xếp theo:</p>
                        <select class="form-control" name="sort">
                          <option value="default">ID</option>
                          <option value="date">Ngày</option>
                        </select>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>ID bác sĩ</th>
                            <th>ID bệnh nhân</th>
                            <th>Ngày kê</th>

                            <th>Trạng thái</th>
                            <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td class="py-1">1</td>
                            <td>BS123</td>
                            <td>BN456</td>
                            <td>2024-07-01</td>
                            <td>
                              <label class="badge badge-danger">Đã hủy</label>
                            </td>
                            <td class="action-icons">
                              <button class="icon-button">
                                <i
                                  class="mdi mdi-delete-forever"
                                  data-toggle="tooltip"
                                  title="Xóa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-table-edit"
                                  data-toggle="tooltip"
                                  title="Chỉnh sửa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-eye"
                                  data-toggle="tooltip"
                                  title="Chi tiết"
                                ></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>BS124</td>
                            <td>BN457</td>
                            <td>2024-07-02</td>

                            <td>
                              <label class="badge badge-success">Đã cấp</label>
                            </td>

                            <td class="action-icons">
                              <button class="icon-button">
                                <i
                                  class="mdi mdi-delete-forever"
                                  data-toggle="tooltip"
                                  title="Xóa"
                                ></i>
                              </button>
                              <button
                                class="icon-button"
                                onclick="showForm('edit', this)"
                              >
                                <i
                                  class="mdi mdi-table-edit"
                                  data-toggle="tooltip"
                                  title="Chỉnh sửa"
                                ></i>
                              </button>
                              <button
                                class="icon-button"
                                onclick="showForm('view', this)"
                              >
                                <i
                                  class="mdi mdi-eye"
                                  data-toggle="tooltip"
                                  title="Chi tiết"
                                ></i>
                              </button>
                            </td>

                            
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>BS125</td>
                            <td>BN458</td>
                            <td>2024-07-03</td>

                            <td>
                              <label class="badge badge-success">Đã cấp</label>
                            </td>
                            <td class="action-icons">
                                <button class="icon-button">
                                    <i
                                      class="mdi mdi-delete-forever"
                                      data-toggle="tooltip"
                                      title="Xóa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('edit', this)"
                                  >
                                    <i
                                      class="mdi mdi-table-edit"
                                      data-toggle="tooltip"
                                      title="Chỉnh sửa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('view', this)"
                                  >
                                    <i
                                      class="mdi mdi-eye"
                                      data-toggle="tooltip"
                                      title="Chi tiết"
                                    ></i>
                                  </button>
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>BS126</td>
                            <td>BN459</td>
                            <td>2024-07-04</td>

                            <td>
                              <label class="badge badge-success">Đã cấp</label>
                            </td>
                            <td class="action-icons">
                                <button class="icon-button">
                                    <i
                                      class="mdi mdi-delete-forever"
                                      data-toggle="tooltip"
                                      title="Xóa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('edit', this)"
                                  >
                                    <i
                                      class="mdi mdi-table-edit"
                                      data-toggle="tooltip"
                                      title="Chỉnh sửa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('view', this)"
                                  >
                                    <i
                                      class="mdi mdi-eye"
                                      data-toggle="tooltip"
                                      title="Chi tiết"
                                    ></i>
                                  </button>
                            </td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>BS127</td>
                            <td>BN460</td>
                            <td>2024-07-05</td>

                            <td>
                              <label class="badge badge-danger">Đã hủy</label>
                            </td>
                            <td class="action-icons">
                              <button class="icon-button">
                                <i
                                  class="mdi mdi-delete-forever"
                                  data-toggle="tooltip"
                                  title="Xóa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-table-edit"
                                  data-toggle="tooltip"
                                  title="Chỉnh sửa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-eye"
                                  data-toggle="tooltip"
                                  title="Chi tiết"
                                ></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>BS128</td>
                            <td>BN461</td>
                            <td>2024-07-06</td>

                            <td>
                              <label class="badge badge-danger">Đã hủy</label>
                            </td>
                            <td class="action-icons">
                              <button class="icon-button">
                                <i
                                  class="mdi mdi-delete-forever"
                                  data-toggle="tooltip"
                                  title="Xóa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-table-edit"
                                  data-toggle="tooltip"
                                  title="Chỉnh sửa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-eye"
                                  data-toggle="tooltip"
                                  title="Chi tiết"
                                ></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>BS129</td>
                            <td>BN462</td>
                            <td>2024-07-07</td>

                            <td>
                              <label class="badge badge-success">Đã cấp</label>
                            </td>
                            <td class="action-icons">
                                <button class="icon-button">
                                    <i
                                      class="mdi mdi-delete-forever"
                                      data-toggle="tooltip"
                                      title="Xóa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('edit', this)"
                                  >
                                    <i
                                      class="mdi mdi-table-edit"
                                      data-toggle="tooltip"
                                      title="Chỉnh sửa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('view', this)"
                                  >
                                    <i
                                      class="mdi mdi-eye"
                                      data-toggle="tooltip"
                                      title="Chi tiết"
                                    ></i>
                                  </button>
                            </td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>BS130</td>
                            <td>BN463</td>
                            <td>2024-07-08</td>

                            <td>
                              <label class="badge badge-success">Đã cấp</label>
                            </td>
                            <td class="action-icons">
                                <button class="icon-button">
                                    <i
                                      class="mdi mdi-delete-forever"
                                      data-toggle="tooltip"
                                      title="Xóa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('edit', this)"
                                  >
                                    <i
                                      class="mdi mdi-table-edit"
                                      data-toggle="tooltip"
                                      title="Chỉnh sửa"
                                    ></i>
                                  </button>
                                  <button
                                    class="icon-button"
                                    onclick="showForm('view', this)"
                                  >
                                    <i
                                      class="mdi mdi-eye"
                                      data-toggle="tooltip"
                                      title="Chi tiết"
                                    ></i>
                                  </button>
                            </td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>BS131</td>
                            <td>BN464</td>
                            <td>2024-07-09</td>

                            <td>
                              <label class="badge badge-danger">Đã hủy</label>
                            </td>
                            <td class="action-icons">
                              <button class="icon-button">
                                <i
                                  class="mdi mdi-delete-forever"
                                  data-toggle="tooltip"
                                  title="Xóa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-table-edit"
                                  data-toggle="tooltip"
                                  title="Chỉnh sửa"
                                ></i>
                              </button>

                              <button class="icon-button">
                                <i
                                  class="mdi mdi-eye"
                                  data-toggle="tooltip"
                                  title="Chi tiết"
                                ></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->

    <script type="text/javascript">
      $(".rangedatepicker").daterangepicker({
        alwaysShowCalendars: true,
        locale: {
          format: "YYYY/MM/DD",
        },
        ranges: {
          Today: [moment(), moment()],
          Yesterday: [
            moment().subtract(1, "days"),
            moment().subtract(1, "days"),
          ],
          "Last 7 Days": [moment().subtract(6, "days"), moment()],
          "Last 30 Days": [moment().subtract(29, "days"), moment()],
          "This Month": [moment().startOf("month"), moment().endOf("month")],
          "Last Month": [
            moment().subtract(1, "month").startOf("month"),
            moment().subtract(1, "month").endOf("month"),
          ],
        },
        startDate: moment().startOf("month"),
        endDate: moment().endOf("month"),
      });

      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      function showForm(type, button) {
        const overlay = document.getElementById("overlay");
        const formTitle = document.getElementById("form-title");
        const formDescription = document.getElementById("form-description");

        if (type === "edit" || type === "view") {
          const row = button.closest("tr");
          const cells = row.querySelectorAll("td");

          const id = cells[0].innerText.trim();
          const doctorID = cells[1].innerText.trim();
          const patientID = cells[2].innerText.trim();
          const prescriptionDate = cells[3].innerText.trim();

          document.getElementById("inputID").value = id;
          document.getElementById("inputDoctorID").value = doctorID;
          document.getElementById("inputPatientID").value = patientID;
          document.getElementById("inputPrescriptionDate").value =
            prescriptionDate;

          if (type === "edit") {
            formTitle.innerText = "Chỉnh sửa";
            formDescription.innerText = "Chỉnh sửa thông tin đơn thuốc";
          } else if (type === "view") {
            formTitle.innerText = "Chi tiết";
            formDescription.innerText = "Xem chi tiết thông tin đơn thuốc";
          }
        } else if (type === "add") {
          formTitle.innerText = "Thêm";
          formDescription.innerText = "Thêm đơn thuốc";

          document.getElementById("inputID").value = "";
          document.getElementById("inputDoctorID").value = "";
          document.getElementById("inputDoctorName").value = "";
          document.getElementById("inputPatientID").value = "";
          document.getElementById("inputPatientName").value = "";
          document.getElementById("inputPrescriptionDate").value = "";
          document.getElementById("inputMedicineID").value = "";
          document.getElementById("inputMedicineName").value = "";
          document.getElementById("inputMedicineAmount").value = "";
          document.getElementById("inputDosage").value = "";
          document.getElementById("inputNotes").value = "";
        }

        overlay.style.display = "flex";
      }

      function hideForm() {
        const overlay = document.getElementById("overlay");
        overlay.style.display = "none";
      }
    </script>

    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <script src="/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/snippet.js"></script>
    <!-- endinject -->
  </body>
</html>
